@import "https://nortonsellinger.github.io/test/reset.css";
: root {

	--DEVICE_RATIO;
}
@font-face {
    font-family: ransom blanco zero;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/RansomBlancoZero.otf');
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: salmon;
    font-size: calc(4vmax - 5vmin);
}
.flexheader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    box-sizing: border-box; /*самое важное свойство, благодаря нему padding включается в размер блока, и ничего не съезжает*/
    width: 100%;
    padding: 4px;
    background-color: black;
}
#headerlogo {
    width: 20%;
    background-color: yellow;
}
#headertitle {
    background-color: blue;
}
#content {
    width: 2in;
    
    height: 5%;
    background-color: magenta;
}
#_content {
	margin: auto;
	width: 10vh;
	background-color: chocolate;
}
#block1 {
	margin-right: auto;
	width: 40vw;
	background-color: silver;
}
#block2 {
	margin-left: auto;
	width: 60vw;
	background-color: gray;
}
#flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
#fl1 {
    background-color: yellow;
    font-family: ransom blanco zero;
    line-height: 1;
    font-size: 20px;
}
#fl2 {
    background-color: red;
    height: 20px;
}
center {
    margin: auto;
    background-color: aqua;
    width: 250px;
}

.imgwrap {
    width: 800px;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.imgwrap img {
    width: 50%;
}