@import "https://nortonsellinger.github.io/test/reset.css";
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: salmon;
}
.flexheader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    box-sizing: border-box; /*самое важное свойство, благодаря нему padding включается в размер блока, и ничего не съезжает*/
    width: 100%;
    padding: 4px;
    background-color: black;
}
#headerlogo {
    width: 20%;
    background-color: yellow;
}
#headertitle {
    background-color: blue;
}
#content {
    width: 2in;
    
    max-height: 5in;
    background-color: magenta;
}
#_content {
	margin: auto;
	width: 10vh;
	background-color: chocolate;
}
#block1 {
	margin-right: auto;
	width: 40vw;
	background-color: silver;
}
#block2 {
	margin-left: auto;
	width: 60vw;
	background-color: gray;
}
#image {
	height: 100vh;
}