body {
    width: 100%;
}
#div1 {
    float: left;
    width: 20%;
    background-color: yellow;
}
#div2 {
    float: left;
    width: 60%;
    background-color: red;
}
#div3 {
    margin-top: 10px;
    width: 60%;
    background-color: green;
    overflow: hidden;
}
